.rangeContainer {
  text-align: center;
  place-items: center;
  height: 200px;
  width: 50%;
  background-color: aquamarine;
  border-radius: 30px;
  margin-left: 25%;
  margin-top: 25%;
  padding-top: 25px;
}

.rangeContainer .label{
  display: flex;
  padding-left: 20px;
}

.range{
  display: flex;
  justify-content: center;
  align-items: center;
}

.range input {
  display: flex;
  position: relative;
  width: 400px;
  margin: 0 5px;
}

.range .value {
  font-size: 20px;
  font-weight: 600;
}